.elementor-widget-freshio-product-categories .cat-title a:hover, .elementor-widget-freshio-products-tabs .elementor-tab-title:hover, .elementor-widget-freshio-products-tabs .elementor-tab-title.elementor-active, .woocommerce-product-list ul.products .product-content del + ins .amount, .woocommerce-product-list ul.products .product-content .amount, .woocommerce-product-list ul.products .product-title span:hover, .woocommerce-product-list ul.products .price, .woocommerce-product-list.products-list-2 ul.products .posted-in a:hover, .woocommerce-product-list.products-list-3 ul.products .posted-in a:hover, .woocommerce-product-list.products-list-5 ul.products .product-list-inner .posted-in a:hover, .elementor-widget-freshio-tab-hover .tab-content .link:hover, .elementor-widget-container .elementor-teams-wrapper .team-name a:hover, .elementor-widget-container .elementor-teams-wrapper .team-name:hover, .elementor-widget-container .elementor-teams-wrapper .team-icon-socials ul li.social a:hover, .elementor-testimonial-item-wrapper .name a:hover, .elementor-element.elementor-button-underline .elementor-button, .elementor-view-framed .elementor-icon,
.elementor-view-default .elementor-icon {
    color: #bac34e; 
}.elementor-view-framed .elementor-icon,
.elementor-view-default .elementor-icon {
    fill: #bac34e; 
}.elementor-widget-freshio-tab-hover .tab-item .number:after, .elementor-testimonial-item-wrapper .slick-prev:hover, .elementor-testimonial-item-wrapper .slick-prev:focus,
.elementor-testimonial-item-wrapper .slick-next:hover,
.elementor-testimonial-item-wrapper .slick-next:focus, .animated-slide-column:after, .elementor-element.elementor-button-primary .elementor-button, .elementor-view-stacked .elementor-icon, .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active .elementor-accordion-icon, .elementor-widget-form.button-effect-yes .elementor-button:before {
    background-color: #bac34e; 
}.elementor-widget-container .form-style .mc4wp-form .mc4wp-form-fields input[type="email"]:focus, .elementor-widget-freshio-products-tabs .elementor-tab-title:hover, .elementor-widget-freshio-products-tabs .elementor-tab-title.elementor-active, .elementor-widget-container .elementor-teams-wrapper .team-icon-socials ul li.social a:hover, .elementor-view-framed .elementor-icon,
.elementor-view-default .elementor-icon, .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active .elementor-accordion-icon {
    border-color: #bac34e; 
}.elementor-icon-box-wrapper .elementor-icon-box-content .elementor-icon-box-description .border-bottom-primary {
    border-bottom-color: #bac34e; 
}.elementor-element.elementor-button-underline .elementor-button:hover {
    color: #9da638; 
}.time-sale .freshio-countdown .countdown-item .countdown-digits {
    color: undefined; 
}.time-sale .freshio-countdown .countdown-item:before {
    background-color: undefined; 
}.elementor-widget-container .elementor-teams-wrapper .team-description {
    color: #626262; 
}.elementor-widget-freshio-products-tabs .elementor-tab-title, .time-sale .deal-text, .elementor-widget-freshio-tab-hover .tab-content .title, .elementor-widget-freshio-tab-hover .tab-content .link, .elementor-widget-freshio-tab-hover .tab-item:hover, .elementor-widget-freshio-tab-hover .tab-item.active, .elementor-widget-container .elementor-teams-wrapper .team-name, .elementor-widget-container .elementor-teams-wrapper .team-name a, .elementor-testimonial-item-wrapper .title, .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-tab-title {
    color: #ffffff; 
}.elementor-widget-freshio-products-tabs .elementor-tab-title:before, .effect-column-underline:after {
    background-color: #ffffff; 
}.woocommerce-product-list ul.products .product-content del, .woocommerce-product-list ul.products .product-content del .amount, .woocommerce-product-list.products-list-2 ul.products .posted-in a, .woocommerce-product-list.products-list-3 ul.products .posted-in a, .time-sale .freshio-countdown .countdown-item .countdown-label, .elementor-widget-freshio-tab-hover .tab-item, .elementor-widget-container .elementor-teams-wrapper .team-job {
    color: #b0b0b0; 
}.woocommerce-product-list.products-list-2 ul.products a[class*="product_type_"]:before, .woocommerce-product-list.products-list-3 ul.products a[class*="product_type_"]:before {
    background-color: #b0b0b0; 
}.woocommerce-product-list ul.products .product-title span, .elementor-testimonial-item-wrapper .content, .elementor-testimonial-item-wrapper .slick-prev:before,
.elementor-testimonial-item-wrapper .slick-next:before, .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-tab-title a, .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active, .elementor-widget-container .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active a {
    color: #fff; 
}.woocommerce-product-list.products-list-4 ul.products .product-list-inner, .elementor-widget-container .elementor-teams-wrapper .team-icon-socials ul li.social a, .elementor-testimonial-item-wrapper .slick-prev,
.elementor-testimonial-item-wrapper .slick-next {
    border-color: #3f3f3f; 
}.elementor-widget-container .elementor-accordion .elementor-accordion-item {
    border-bottom-color: #3f3f3f; 
}.border-wrapper-yes .woocommerce-carousel ul.products {
    border-left-color: #3f3f3f; 
}.border-wrapper-yes .woocommerce-carousel ul.products {
    border-right-color: #3f3f3f; 
}.woocommerce-product-list ul.products .product-list-inner {
    background-color: #252525; 
}.elementor-testimonial-item-wrapper .slick-prev,
.elementor-testimonial-item-wrapper .slick-next {
    background-color: #fff; 
}